<div class="container-fluid">
  
   
  <div class="row hero">
    <div class="jumbotron jumbotron-fluid intro-block">
      <div class="container-fluid">
        <h1 class="display-2 p-50" style="text-align: center;">Carbon accounting for 
          <br>climate innovation.</h1>
       <!-- <p class="lead">Increased investment in knowledge creation around Nature-Based Solutions will increase our ability to tackle the climate crisis</p>-->
  
  
        <!--<a class="btn btn-prbiggestimary btn-lg" href="#" role="button">Remove carbon with this project</a>-->
        <hr>
       

          <div class="row subhead">  <div class="col p-50sides">  <h1  style="margin-bottom: 30px; padding:20px">Acquire carbon removal certificates from recently valued projects:</h1></div></div>
          <div class="row p-50sides">
      
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/agro.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Regenerative Agriculture NH </h5>
                      <p class="card-text">Carbon sequestration and Nitrogen management through new tilling systems.</p>
                      <a href="project1" class="btn btn-primary btn-lg active">Buy Certificates <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                      </svg></a>

                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/xlam.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Timber Housing Supply Chain</h5>
                      <p class="card-text">Zero concrete cross laminated timber construction from local wood sources.</p>
                      <a href="project1" class="btn btn-primary btn-lg disabled">Buy Certificates <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                      </svg></a>

                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/olivine.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Rock Weathering Feasability Study</h5>
                      <p class="card-text">Feasability study of olivine enhanced mineral weathering as carbon sink.</p>
                      <a href="project1" class="btn btn-primary btn-lg disabled">Buy Certificates <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                      </svg></a>

                    </div>
                  </div>
            </div>
      ,

          <div class="col-sm">
            <div class="card" >
                <img class="card-img-top" src="assets/img/northsea.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Seaweed Bio-Havens North Sea</h5>
                  <p class="card-text">North Sea seaweed farming as blue carbon sink and biodiversity stimulus.</p>
                  <a href="project1" class="btn btn-primary btn-lg disabled">Buy Certificates <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                  </svg></a>

                </div>
              </div>
        </div>
      </div>

  </div>
  
  
  </div>
       
      </div>
   