<div class="container-fluid">
  
   
  <div class="row hero">
    <div class="jumbotron jumbotron-fluid intro-block">
      <div class="container">
        <h1 class="display-4">Be part of the biggest ever research and development project on Nature-Based Solutions for carbon removal.</h1>
       <!-- <p class="lead">Increased investment in knowledge creation around Nature-Based Solutions will increase our ability to tackle the climate crisis</p>-->
  
  
        <!--<a class="btn btn-prbiggestimary btn-lg" href="#" role="button">Remove carbon with this project</a>-->
        <hr>
        <div class="row">
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/agro.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="project1" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/agro.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="project1" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="card" >
                    <img class="card-img-top" src="assets/img/agro.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
          </div>

  </div>
  
  
  </div>
       
      </div>
   