<div class="container-fluid">
  
   
    <div class="row hero">
      <div class="jumbotron jumbotron-fluid intro-block">
        <div class="container">
          <h1 class="display-4">Be part of the biggest ever research and development project on Nature-Based Solutions for carbon removal.</h1>
         <!-- <p class="lead">Increased investment in knowledge creation around Nature-Based Solutions will increase our ability to tackle the climate crisis</p>-->
    
    
          <!--<a class="btn btn-prbiggestimary btn-lg" href="#" role="button">Remove carbon with this project</a>-->
          <hr>
          <div class="row">
            <table class="table table-striped"><thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
              </div>
            </div>
  
    </div>
    
    
    </div>
         
        </div>
     