

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <a href="#" class="navbar-brand">
    <!-- Logo Image -->
    <img src="assets/img/svg/openbook.svg" style="opacity: 70%;" width="150" alt="" class="d-inline-block align-middle ml-10">
    <!-- Logo Text 
    <span class="text-uppercase font-weight-bold">Company</span>-->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <!--  <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item active">
        <a class="nav-link" href="/"  tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." >NCR Projects</a>
      </li>
    <!--  <li class="nav-item">
        <a class="nav-link" href="#"  tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." >Demo 2</a>
      </li>-->

      <li class="nav-item">
        <a class="nav-link" href="#"  tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Carbon Ledger</a>
      </li>
      <li class="nav-item dropdown">
      
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/user.jpg" class="avatar" alt="Avatar"> Sheyra
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *dropdownMenu>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>


  </div>
</nav>

<router-outlet></router-outlet>
